/*

Variables CSS

*/
:root {
  --primary-color: #389fff;
  --secondary-color: #f1f5f8;
  --text-color: #0d0d0d;
  --secondary-text-color: #f5f5f5;
  --primary-checkbox-color: #555dff;
  --primary-background-color: #fff;
}

/* Global Syles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
  overflow: auto;
  background-color: #f1f5f8;
  line-height: 1.75rem;
}

ul {
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 3px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Montserrat';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: rgb(97, 125, 152);
  font-family: 'Montserrat', sans-serif;
}

/* Media type (screen) AND Media Feature (min-width).
   Targets screens that are 800px wider or bigger */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Estilos Globales */


/* Section */
.section {
  display: block;
  unicode-bidi: isolate;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
==================
Header and logo
==================
*/
header {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
}

header img {
  /* Para moverlo un toque hacia la derecha*/
  display: block;
  max-width: 100%;
  height: auto;
  inset: 0px;
  user-select: none;
  pointer-events: none;
}

header nav {
  display: flex;
}

header ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
==================
Nav elements inside the header
==================
*/

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 25px;

  /* Estilos del texto */
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  user-select: none;
}

.nav-links a {
  color: #0d0d0d;
  transition: color 0.3s ease;
}

.nav-links a:visited {
  color: #0d0d0d;
}

.nav-links a:hover {
  color: #389fff !important;
}

/*
===============
Hamburger Menu
===============
*/
.nav-toggle {
  display: none;
  position: fixed;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(146, 33, 33, 0);
  transition: border 0.5s ease-in-out;
  border: 2px solid transparent;
  padding: 5px;
  transform: translate(-30%, 24%);
}

.nav-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
  opacity: 0;
  transition: 0.5s ease;
}

.nav-toggle:focus::after {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.6);
}

.nav-toggle i {
  display: inline-block;
  outline: none;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.5s ease, color 0.5s ease;
  transform: scale(1);
  padding: 0;
}

.nav-toggle:hover i {
  transform: rotate(90deg) scale(1.2);
  color: black !important;
}

/*
=================
Hero Section
=================
*/
.hero {
  /* Altura completa de la pantalla*/
  width: 100%;
  height: 70vh;
  /* Centrado de todo el contenido*/
  display: flex;
  position: relative;
  /* Clave: Esto actua como ancla para el video */
  overflow: hidden;
  color: var(--secondary-text-color);
  padding: 0 20px;
  /* Espaciado lateral de seguridad para moviles*/
  margin-top: 70px;
  /* Para compensar la altura del header */
  ;
}

.hero-content {
  display: inline-flex;
  flex-direction: column;
  /* Esto es lo que hace que el salto de linea del h1 se mantenga */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
  /* Posicionamiento y alto/ancho */
  position: relative;
  /* Para que el contenido este por encima del video */
  height: auto;
  width: 100%;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: none;
}

.hero-content span {
  display: block;
}

.contact-visual {
  display: contents;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
  /* Hace que el div no se encoja por flex */
  z-index: 0;
}

.contact-visual video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 
==============
Main Content
==============
*/
.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d3d3ff;
  padding: 4rem 0;

}

.contact-main__section {
  display: grid;
  grid-template-columns: 0.50fr 1fr;
  padding: 0 2rem;
  gap: 2rem;

  width: 100%;
  height: 100dvh;
}

.contact-main__head {
  display: flex;
  justify-content: end;
  grid-column: 1;
}

.contact-main__subtitle {
  width: fit-content;
  height: auto;
  text-align: justify;
  padding: 1rem 2rem;
}

.contact-main__subtitle h3 {
  text-transform: none;
  font-weight: 700;
  line-height: 1.3;
}

.contact-main__envelope {
  padding: 1rem 0;
}

.contact-main__envelope i {
  font-size: 3rem;
}

.contact-main__subtitle a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #0d0d0d;
  /* Space and stuffed */
  padding-bottom: 0.6rem;
  width: 265px;
  /* Styles of the link */
  text-decoration: underline;
  list-style-type: none;
}

.contact-main__subtitle p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0d0d0d;
}

.contact-main__subtitle p:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.6em;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #0d0d0d;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1rem;

  background-color: #fffffff0;
  padding: 0.35rem 1rem;
  border-radius: 1rem;

  box-shadow: inset 0 0 0.6px #0000007a, 0 0 0 .125rem #0000001a;
}

.fa-location-dot {
  width: fit-content;
  height: fit-content;
}

.contact-main__subtitle p:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #0d0d0d;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1rem;

  background-color: #fffffff0;
  padding: 0.35rem 1rem;
  border-radius: 1rem;

  box-shadow: inset 0 0 0.6px #0000007a, 0 0 0 .125rem #0000001a;
}

.contact-main__subtitle p:last-of-type {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #0d0d0d;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1rem;

  background-color: #fffffff0;
  padding: 0.35rem 1rem;
  border-radius: 1rem;

  box-shadow: inset 0 0 0.6px #0000007a, 0 0 0 .125rem #0000001a;
}

.fa-briefcase {
  width: fit-content;
  height: fit-content;
}

/* 
===============
Styles of the Formulary and his elements
===============
*/
.contact-form {
  display: block;
  height: fit-content;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info__title {
  padding: 1rem 0;
}

.contact-info__title h3 {
  text-align: left;
  font-size: 3rem;
  font-style: italic;
}

.contact-info__title p:first-of-type {
  font-size: 1.25rem;
  font-weight: 600;
  color: #0d0d0d;
  text-align: left;
}

.contact-info__title p:last-of-type {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 0 0 0;
  color: #0d0d0d;
  text-align: left;
}

.link-underline {
  color: var(--text-color);
  text-decoration-line: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: 15%;
  text-decoration-color: #4141417a;
  text-decoration-style: none;
}

.link-underline:hover {
  color: #0000007a;
}

.link-underline:hover {
  opacity: .65;
}

/* Cajas de texto del formulario */
.form-group {
  display: block;
  width: 30%;
}

.names {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: .80em;
  width: 74.2%;
  padding: 0 0 4.5rem 0;
}

.username {
  width: 100%;
  grid-column: 1;
}

.lastname {
  width: 100%;
  grid-column: 2;
}

.email {
  transform: translate(0%, -80%);
  width: 74.2%;
}

.message {
  transform: translate(0%, -22%);
  width: 74.2%;
}

.message p {
  font-size: 0.874rem;
  font-weight: 600;
  text-align: left;
  color: #0d0d0d;
}

.checkbox {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  height: fit-content;
  transform: translateY(-100%);
  margin-bottom: 2.5rem;
}

.contact-info__btn {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-text-color);
  background-color: #151515;
  width: fit-content;
  cursor: pointer;
  border-radius: 1rem;
  line-height: 1.50rem;
  border: none;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0.65rem 1.25rem;
  bottom: 4rem;
  transition: background-color 0.3s ease-in-out;
}

.contact-info__btn:hover {
  background-color: #212121;
}

.check-label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
}

label {
  display: block;
  width: fit-content;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

input[type="text"],
input[type="email"] {
  outline: none;
  border: 1px solid transparent;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 .0625rem .125rem #0000001a;
}

input::placeholder {
  color: #00000069;
}

input:user-invalid::selection {
  background-color: #cc000080;
}

input:user-invalid::-moz-selection {
  background-color: #cc000080;
}

input[type="text"]:focus {
  box-shadow: inset 0 0 0.6px #0000001a, 0 0 0 .125rem var(--primary-checkbox-color);
}

input[type="email"]:focus {
  box-shadow: inset 0 0 0.6px #0000001a, 0 0 0 .125rem var(--primary-checkbox-color);
}

input:focus::selection {
  background-color: #555dff80;
}

input[type="text"],
input[type="email"]:focus {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid transparent;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;

  width: 100%;
  height: 8rem;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

textarea::placeholder {
  color: #00000069;
  text-align: left;
}

textarea:focus {
  box-shadow: inset 0 0 0.6px #0000001a, 0 0 0 .125rem var(--primary-checkbox-color);
}

textarea:focus::selection {
  background-color: #555dff80;
}

/* - CHECKBOX - */
input[type="checkbox"] {
  display: grid;
  position: relative;
  place-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  appearance: none;

  background-clip: padding-box;
  height: 1em;
  width: 1em;
  font: inherit;
  color: currentColor;
  border: 0.15em solid currentColor;
  border-radius: .1875em;
  background-color: var(--primary-background-color);
  margin: 0;
  padding: 0;
  box-shadow: 0 .0625em .125em #0000001a;

  transition: background-color .120s ease-in;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-checkbox-color);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-background-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #333 !important;
  box-shadow: 0 0 0 1000px transparent inset;
  outline: none;
}

input:-webkit-autofill:focus-visible {
  box-shadow: inset 0 0 0.6px #0000001a, 0 0 0 .125rem var(--primary-checkbox-color) !important;
}

section {
  display: block;
  width: 100%;
  height: 100dvh;

  background-color: transparent;
}

.invalid {
  box-shadow: inset 0 0 0.6px #0000001a, 0 0 0 .125rem #c00 !important;
}

/* 
=================
Form PopUps Messages
=================
*/
.notification {
  position: fixed;
  align-items: center;
  width: max-content;
  background: #DCFCE7;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  display: none;
  opacity: 0;
  visibility: 0;
  backdrop-filter: blur(10px);
  bottom: 1.5rem;
  left: 42%;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 5;
}

.notification.is-visible {
  opacity: 1;
  visibility: visible;
  display: block;
  animation: fade-in 3s linear;
}

.notification_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 8px;
}

.notification_body img {
  height: 26px;
  width: 26px;
  margin-right: 4px;
}

.notification_body p {
  margin: 0;
  color: #065F46;
}

.notification_progress {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #313e2c, #aaec8a);
  border-radius: inherit;
}

.progress-1 {
  animation: progress 2.5s 0.3s linear;
}

/* Popup invalid submission */
.popup {
  position: fixed;
  align-items: center;
  width: max-content;
  background-color: rgb(225, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  bottom: 1.5rem;
  left: 37%;
  margin: 0 auto;
  z-index: 5;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  display: block;
  animation: fade_in 4s linear;
}

.popup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem 1rem 0.75rem;
  border-radius: inherit;
}

.popup-body i {
  font-size: 2rem;
  margin-right: 8px;
}

.popup-body p {
  color: #fff;
  font-weight: 550;
  font-style: italic;
  line-height: normal;
  margin: 0;
}

.popup_progress {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: calc(100% - 8px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, #ffeb3b, #fff);
  border-radius: inherit;
}

.progress-2.is-visible {
  opacity: 1;
  visibility: visible;
  animation: load 5s 0.3s linear;
}

/*
=================
Footer of the page
=================
*/
.main-footer-divider-HTR {
  color: #0d0d0d;
  margin-top: 30px;
  background-color: #f1f5f8;
}

.main-footer__owner {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
}

.main-footer p {
  margin: 0;
}

.main-footer__icons {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.main-footer__icons i {
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease;
  will-change: transform;
}

.main-footer__icons a:hover i {
  /* El color del icono en el html tiene más prioridad que el hover */
  color: rgb(0, 132, 255) !important;
  transform: scale(1.2);
}

/* ── ANIMATIONS ── */
@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
  }
}

@keyframes progress {
  to {
    transform: scale(1);
  }
}

@keyframes fade_in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load {
  to {
    transform: scale(1);
  }
}

/* ── RESPONSIVE ── */
@media (max-width: 1024px) {
  .nav-links {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 12.5rem;
    gap: 25px;
    background-color: white;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    max-height: 0;

    pointer-events: none;
    transition: max-height 0.5s ease-out;
  }

  .nav-links.show-links {
    max-height: 300px;
    pointer-events: auto;
  }

  .nav-links a {
    margin-left: 20px;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  /* Header and his elements */
  header {
    justify-content: left;
  }

  /* Main section */
  .contact-head__subtitle h3 {
    font-size: 1.50rem;
    letter-spacing: normal;
  }

  .contact-head__subtitle a {
    font-size: 1.25rem;
  }

  .contact-head__subtitle p {
    font-size: 1rem;
  }

  .contact-info__title h3 {
    letter-spacing: normal;
  }

}

@media (max-width: 800px) {
  .hero-content {
    font-size: 2rem !important;
    line-height: 1;
  }

  /* Header in his elements */
  .contact-head__subtitle {
    padding: 1rem 1.50rem !important;
  }

  .contact-head__subtitle h3 {
    font-size: 1.40rem;
  }

  .contact-head__subtitle a {
    font-size: 1.25rem;
  }

  .contact-head__subtitle p {
    font-size: 1rem;
  }

  /* Main Section */
  .contact-main {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 15px;
  }
}