/*

Global Syles

*/
body {
    margin: 0;
    background-color: #f8f8f1;
}
*
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    font-size: 1.8rem;
}
h1 {
    font-size: 1.7rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.4rem;
}
/*

Navegation Bar

*/
.navbar {
    display: flex; /* Flexbox */
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    /*Con estos 3 codigos se pueden centrar directamente en el centro el Nav (2% el top)*/
    top: 0%;
    left: 50%;
    transform: translate(-50%);

    width: 100%; /* Añadir esto por el position fixed */
    height: 10%;

    text-align: center;
    justify-content: space-between;
    align-items: center;

    z-index: 15;
}
.navlogo {
    /* Para moverlo un toque hacia la derecha*/
    transform: translate(10%); 
  
    user-select: none;
    pointer-events: none;
}

/*
==============
Links del nav
==============
*/

.nav-links {
    display: flex;
    gap: 25px;

    /*Eliminar puntos, marcadores de los enlaces.*/
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;

    /* Estilos del texto */
    font-size: 20px;
    font-weight: 500;
    color: inherit;
    font-family: 'Montserrat';
    letter-spacing: 3px;
    user-select: none;
}
.nav-links a {
    color: black;

    /*Para que todos los enlaces no tengan underline*/
    text-decoration: none;
}
.nav-links a:visited {
    color: black;
}

/*
===============
Iconos
===============
*/

.nav-icons {
    display: flex;
    gap: 15px;

    list-style-type: none;
    padding: 0;
    margin: 0;

    /* Acomodación */
    transform: translate(-2.5rem);
    font-size: 20px;
}
.nav-icons i {
    transform: scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
    will-change: transform;
}
.nav-icons a:hover i {
    /* El color del icono en el html tiene más prioridad que el hover */
    color: rgb(0, 132, 255) !important; 
    transform: scale(1.2);
}
/*

Hamburger Menu

*/
.nav-toggle {
    display: none;
    position: fixed;
    outline: none;

    background-color: transparent;
    border-color: transparent;

    font-size: 30px;
    cursor: pointer;

    box-shadow: 0 0 0 0 rgba(146, 33, 33, 0);
    transition: border 0.5s ease-in-out;

    border: 2px solid transparent;
    padding: 5px;
    transform: translate(30%, -5px);

}
/*El after y before se usa para insertar contenido
cosmético o estructural (texto, imágenes, formas)
antes o después de cierto contenido. Esto quiere
decir que sirve para o añadir focus de otra manera,
ciertos texto como pueden ser comillas, etc, como
en este caso que seria para el focus xd
*/
.nav-toggle::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 8px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);

    opacity: 0;
    transition: 0.5s ease;
}
.nav-toggle:focus::after {
    opacity: 1;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.6);
}
.nav-toggle i {
    display: inline-block;
    outline: none;  

    /* Para que las transiciones sean mas fluidas y naturales, evitando desplazamiento
    del mismo hacia las esqs durante la animación */
    transform-origin: center;
    will-change: transform;

    transition: transform 0.5s ease, color 0.5s ease;
    transform: scale(1);
    padding: 0;
}
.nav-toggle:hover i {
    transform: rotate(90deg) scale(1.2);
    color: black !important;
}
/* Responsive cuando se achique la pantalla */
@media (max-width: 968px) {
    .nav-icons {
        display: none;
    }
    .nav-links {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 11.5rem;
        gap: 25px;
        background-color: white;

        box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);


        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        margin: 0;
        max-height: 0;
        

        pointer-events: none;
        transition: max-height 0.5s ease-out;
    }
    .nav-links.show-links {
        max-height: 300px;
        pointer-events: auto ;
    }
    .nav-links a {
        margin-left: 20px;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        top: 1.7rem;
        right: 1.5rem;
    }
}
/*
.overlay {
    position: fixed;
    inset: 0;

    background: rgba(255,255,255,0.9);
    
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    z-index: 5;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.show-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/